[Unit]
Description=OpenTrickler Flask Servo application
After=network.target

[Service]
Type=idle
User=pi
Group=www-data
Restart=on-failure
WorkingDirectory=/code/open-trickler-peripheral/trickler
Environment="PATH=/code/venv/bin"
ExecStart=/code/venv/bin/python /code/open-trickler-peripheral/trickler/servo_app.py ../opentrickler_config.ini

[Install]
WantedBy=multi-user.target
